<div class="container">
  <!-- Menu button -->
  <div class="menu-btn-container" routerLink="/menu">
    <img src="assets/img/menu-btn.png" class="menu-btn">
  </div>

  <!-- Greeting -->

  <!-- Greeting text -->
  <div class="greeting">
    <div class="greeting-text">
      <h1 class="greeting-text__h1">{{greeting}}</h1>
      <h1 class="greeting-text__user">{{user?.name}}</h1>
    </div>

    <!-- Greeting card -->
    <div class="greeting-card" alyTouchReact>
      <div class="greeting-card__avatar"><img [src]="user?.avatar"></div>
      <div class="greeting-card__background">
        <div class="greeting-card__quote">
          <p class="quote">{{quote.quote}}</p>
          <p class="author">{{quote.author}}</p>
        </div>
      </div>
    </div>

    <!-- Note -->
    <div class="note-container">
      <h1 class="heading">Ghi chú</h1>
      <aly-note-overview></aly-note-overview>
      <div class="tags">
        <div class="main-tag" alyTouchReact (click)="selectTag('family')">
          <img src="assets/icon/family.svg">
        </div>
        <div class="sub-tag1" alyTouchReact (click)="selectTag('health')">
          <img src="assets/icon/healthy.svg">
        </div>
        <div class="sub-tag2" alyTouchReact (click)="selectTag('life')">
          <img src="assets/icon/life.svg">
        </div>
        <div class="sub-tag3" alyTouchReact (click)="selectTag('work')">
          <img src="assets/icon/work.svg">
        </div>
        <div class="sub-tag4" alyTouchReact (click)="selectTag('study')">
          <img src="assets/icon/study.svg">
        </div>
      </div>
    </div>

    <!-- Money -->
    <div class="money-container">
      <h1 class="heading">Ví tiền</h1>
      <aly-money-preview></aly-money-preview>
    </div>
  </div>
</div>