<div class="home-container">
  <!-- Menu button -->
  <div class="menu-btn-container" routerLink="/menu">
    <img src="assets/img/menu-btn.png" class="menu-btn">
  </div>

  <!-- Greeting -->
  <div class="greeting">
    <div class="greeting-text">
      <h1 class="greeting-text__h1">Good Morning</h1>
      <h1 class="greeting-text__user">Annt</h1>
    </div>

    <div class="greeting-card" #card (click)="pressAnimation(card)">
      <div class="greeting-card__avatar"> <img src="assets/img/demo-avatar.jpg" alt=""></div>
      <div class="greeting-card__background">
        <div class="greeting-card__quote">
          <p class="quote">{{quote.quote}}</p>
          <p class="author">{{quote.author}}</p>
        </div>
      </div>
    </div>

    <!-- Note -->
    <div class="note-container">
      <h1 class="heading">Note</h1>
      <aly-note-overview></aly-note-overview>
      <aly-note-preview></aly-note-preview>

    </div>
  </div>
</div>