@import '../../shared/scss/shared';

.note-preview-container{
    width: 100%;
    margin-top: 10px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 10px 15px;
    background: linear-gradient(50deg, rgba(254,216,135,1) 0%, rgba(246,255,154,1) 46%, rgba(218,247,40,1) 100%);
    color: #4e4e4e;
    .note-preview{
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 50px;
        border-bottom: 1px solid;
        .img{
            img{
                width: 50px;
                border-radius: 5px;
            }
        }
        .text {
            
            padding-right: 12px;
        }
        .author{
               font-size: 14px;
    display: flex;
    align-items: center;
            .avatar{
                border-radius: 50%;
                width: 20px;
            }
            span{
                margin-left: 5px;
            }
        }
        .function{
            img{
                margin-top: 5px;
                width: 25px;
                float: right;
            }
        }
    }
}