.money-plan {
  .title {
    font-weight: bold;
  }

  .function {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 0;
    background: linear-gradient(180deg,
        rgba(162, 229, 245, 1) 53%,
        rgba(168, 246, 246, 1) 90%);

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px;
      border-radius: 20px;
      background: linear-gradient(180deg,
          rgba(245, 162, 224, 1) 53%,
          rgba(214, 168, 246, 1) 90%);
      padding: 15px;

      p {
        text-align: center;
        padding: 5px;
        color: #5a5858;
        font-weight: bold;
      }
    }
  }

  .plan {
    .income-color {
      background-color: #191a1b;
    }

    .outcome-color {
      background-color: #191a1b;
    }

    .plan-title {
      font-style: italic;
      font-weight: bold;

      &.income {
        color: #05d405
      }

      &.outcome {
        color: red
      }
    }

    .plan-total {
      text-align: center;
      margin-top: 5px;
      font-size: 36px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .income-plan,
    .outcome-plan {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;

      div {
        // color: white;
        font-weight: 500;
        text-align: center;
        padding: 10px;
        transition: all 0.8s;

        img {
          width: 50%;
        }

        .money {
          font-size: 23px;
          font-weight: bold;
        }
      }
    }
  }

  .no-bs {
    box-shadow: none;
  }
}

.slider {
  position: fixed;
  bottom: 0;
  z-index: 99;
  padding: 15px;
  width: 100vw;
  left: 0;
  background: #504f4fe6;
  animation: fadeInUp 0.5s;
  border-radius: 20px;

  input {
    background: #4e4d4de6 !important;
    outline: none;
    border: none;
    font-size: 25px;
    text-align: center;
    width: 100%;
  }

  p {
    text-align: center;
  }

  .mat-slider-horizontal {
    width: 100%;
  }
}