<div class="container">
  <h1 class="heading">
    <i class="icon icon-back" routerLink="/home"></i> Nhắc nhở uống nước
  </h1>
  <div class="frame">
    <button
      class="custom-btn btn-5"
      *ngFor="let time of times;let i = index"
      (click)="onUserSetTimeDinkWater(i)"
      [ngClass]="{ btnActive: time.status }"
    >
      <span> {{time.timeDrinkWater}} </span>
    </button>
  </div>
  <div class="badgeAlign">
    <span class="badge badge-success">Active</span>
    <span class="badge badge-danger">Inactive</span>
  </div>
</div>
