<div class="container">
  <div class="authen">
    <div class="avatar-container">
      <div class="avatar">
        <div class="avatar-img">
          <img [src]="url" class="img">
          <div class="edit" *ngIf="user?.name==undefined">
            <img alyTouchReact src="assets/icon/edit.svg" class="edit-icon" (click)="picker()">
          </div>
        </div>
      </div>
    </div>

    <form #auth="ngForm" (submit)="onSubmit(auth)">
      <div class="first-time">
        <div class="user-name" *ngIf="user?.name==undefined">
          <p for="">Hãy nhập tên bạn</p>
          <input type="text" name="name" class="aly-input" ngModel>
          <div class="btn-container"><button alyTouchReact class="aly-btn">Bắt đầu</button></div>
          <p *ngIf="isErr" class="err">Bạn hãy nhập tên vào trước nhé!</p>
        </div>
      </div>
      <div class="password" *ngIf="user?.password">
        <p for="">Hãy nhập mật khẩu</p>
        <input type="password" name="pass" class="aly-input" ngModel autocomplete="off">
        <div class="btn-container"><button alyTouchReact class="aly-btn">Bắt đầu</button></div>
        <p *ngIf="isErr" class="err">Bạn hãy nhập đúng mật khẩu nhé!</p>
      </div>
    </form>
  </div>