@import '../../../../core/shared/scss/shared';
$background: #e4e484ef;

.note {
  padding: 5px;
  width: 100%;
  background: $background;
  color: black;
  outline: none;
  border: none;
}

.add-note-container {
  padding: 10px;
  background: $background;
  border-radius: $border-radius;
  transition: all 0.3s;

  span {
    font-weight: bold;
  }

  .note-title {
    border-bottom: 1px solid;
  }

  .note-content {
    margin-top: 5px;
    border-bottom: 1px solid;

    .tag {
      margin: 10px;
      min-height: 42px;
      transition: all 0.3s;
    }
  }

  select {
    option {
      outline: none;
      border-radius: 5px;
    }
  }

  .submenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
