@import '../../shared/scss/shared';

.money-preview-container {
  .balance {
    box-shadow: none;
    background: $main-color;
    margin-bottom: 15px;
    box-shadow: $bubble-shadow;

    h2,
    h6 {
      font-weight: 400;
      margin: 0;
      text-align: center;
      font-family: 'noticia';
    }

    h2 {
      margin-top: 2px;
      font-weight: bold;
      font-size: 35px;
    }
  }

  h5 {
    text-align: center;
  }
  // .money-preview-detail {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  // }
}
