@import '../../shared/scss/shared';

.money-overview-container {
    .balance {
        box-shadow: none;
        background-color: #fbeaf3;
        animation: fadeInDown 1s;
        padding: 20px;
        box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

        h2,
        h6 {
            font-weight: 400;
            margin: 0;
            text-align: center;
            font-family: "noticia";

        }

        h2 {
            margin-top: 10px;
            font-weight: bold;
            font-size: 35px;
        }
    }

    h5 {
        text-align: center;
    }


}