<div class="money-overview-container">
  <div class="balance aly-card" alyTouchReact>
    <h6>Số tiền hiện tại</h6>
    <h2>{{currentBalance|number}}</h2>
  </div>
  <div style="display: block" class="chart">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>

  <div style="display: block">
    <canvas baseChart [data]="incomePieChartData" [labels]="incomePieChartLabels" [chartType]="pieChartType"></canvas>
  </div>

    <div style="display: block">
      <canvas baseChart [data]="outcomePieChartData" [labels]="outcomePieChartLabels" [chartType]="pieChartType"></canvas>
    </div>