<div class="note-detail-container fadeInUp" #ele (press)="letTest($event,ele)" alyNoteBackground [tag]="note.tag.type">
  <div class="date">
    <h2 class="day">{{day}}</h2>
    <p class="month">{{'Tháng '+month}}</p>
  </div>
  <div class="note-content">
    <h3>{{note.title}}</h3>
    <p>{{note.content}}</p>
    <img alyTouchReact (click)="note.remark=!note.remark" class="star"
      [src]="note.remark?'assets/icon/star.svg':'assets/icon/unstar.svg'">
  </div>
  <div class="edit hide">
    <img alyTouchReact src="assets/icon/edit.svg" class="edit-icon" (click)="editNote()" alyRoute route="/note/edit">
  </div>
  <div class="delete hide">
    <img alyTouchReact alyDialog [data]="dataDelete" src="assets/icon/delete.svg" class="delete-icon">
  </div>
</div>