@import '../../../shared/scss/shared';

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $overlay-background;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  animation: smoothShow 0.5s;

  .dialog {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: $main-color;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 8px;

    .tag:hover {
      background-color: rgba(5, 5, 255, 0.301);
    }
  }
}
