<div class="overlay" (click)="hideDialog()" #overlay>
  <div class="dialog magictime spaceInUp" (click)="onDialogClicked($event)" #dialog>
    <ng-template *ngIf="data.type === 'tags' then tags"></ng-template>
    <div class="btn-container">
      <button class="aly-btn" (click)="hideDialog()">Chọn</button>
    </div>
  </div>
</div>

<ng-template #tags>
  <div class="tags-container">
    <div class="tag aly-tag blank-tag" *ngFor="let tag of data.data" (click)="select(tag)">
      {{tag}}
    </div>
  </div>
</ng-template>