@import '../../../../core/shared/scss/shared';

aly-wallet-detail {
    width: 100%;
}

.add-money {
    position: fixed;
    bottom: 20px;
    left: 15px;
    border-radius: 50%;
    padding: 5px;
    background: rgba(187, 189, 194, 0.685);
    width: 58px;
    height: 58px;
    animation: fadeInUp 0.5s;
}