.aly-btn{
display: inline-block;
text-align: center;
padding: 10px;
border-radius: 30px;
background: linear-gradient(90deg, rgba(170,244,240,1) 0%, rgba(100,236,255,1) 46%, rgba(0,202,255,1) 100%);    
outline: none;
}

  .heading{
    margin-bottom: 20px;
    font-size: 30px;
  }
  .sub-heading{
    margin-bottom: 15px;
    font-size: 20px;
  }