@import './variable';
@import '../scss/variable';

.aly-btn {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  background: linear-gradient(90deg,
      rgba(170, 244, 240, 1) 0%,
      rgba(100, 236, 255, 1) 46%,
      rgba(0, 202, 255, 1) 100%);
  outline: none;
}

.hide {
  display: none;
}

.btn-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.heading {
  margin-top: 2px;
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: $header-weight;
  animation: smoothShow 0.5s;
}

.sub-heading {
  margin-bottom: 15px;
  font-size: 20px;
}

.aly-card {
  border-radius: $border-radius;
  box-shadow: $card-box-shadow;
  padding: 10px;
}

.aly-tag {
  min-width: 80px;
  border-radius: 30px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  background: linear-gradient(45deg,
      rgba(255, 135, 122, 1) 4%,
      rgba(255, 208, 154, 1) 46%,
      rgba(255, 174, 60, 1) 100%);
}

.aly-input {
  padding: 6px;
  outline: none;
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid;
}

.blank-tag {
  background: #68bce0;
  border: 1px solid;
  margin: 5px;
}

.icon {
  font-size: 20px;
}

.on-press {
  animation: press 0.5s;
}

.fadeInUp {
  animation-name: fadeInUp 0.5s;
}

.shake {
  animation-timing-function: ease-in-out;
  animation: shake 1.5s infinite;
}

.fadeInUp {
  animation: fadeInUp 0.5s;
}

.fadeInDown {
  animation: fadeInDown 0.5s;
}

.rubberBand {
  animation: rubberBand 1s;
}

.jackInTheBox {
  animation: jackInTheBox 1.5s;
}

.err {
  color: red;
  font-size: 14px !important;
}

.layer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.493);
}

.chart {
  margin: 10px 0;
  background: $main-color;
  box-shadow: none;
  animation: fadeInUp 0.5s;
}

.goBig {
  width: 95vw;
  position: fixed;
  left: 2.5vw;
  top: 10vh;
  z-index: 9999;
}

.hide-smooth {
  animation: smoothHide 0.6s;
}