$avatar-size: 50vw;
$border-radius: 25px;
$part-margin: 40px;
$header-weight: 700;

$font-color: #707070;
$main-yellow-color: #fbeb36;
$background-color: rgb(247, 239, 239);

$box-shadow: 15px 15px 27px #e1e1e3,
-15px -15px 27px #ffffff;
$card-img-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
0 2px 2px rgba(0, 0, 0, 0.1),
0 4px 4px rgba(0, 0, 0, 0.1),
0 8px 8px rgba(0, 0, 0, 0.1),
0 16px 16px rgba(0, 0, 0, 0.1);
$card-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
0 2px 4px 0px rgba(0, 0, 0, 0.1),
0 3px 11px rgba(0, 0, 0, 0.1),
0px 0px 0px rgba(0, 0, 0, 0.1),
0 1px 6px 0px rgba(0, 0, 0, 0.1);