$avatar-size: 50vw;
$border-radius: 25px;
$part-margin: 40px;
$header-weight: 700;

$font-color: #1f1e1e;
// $main-color: #c9eacf;
$main-color: linear-gradient(90deg, #c3f1c1 1%, #d4f9bb 35%, #a6f1a6 100%);
$background-color: #f2f3f2;

$overlay-background: rgba(0, 0, 0, 0.7);

$box-shadow: 15px 15px 27px #161616, -15px -15px 27px #1a1a1a;
$card-img-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
  0 2px 2px rgba(199, 194, 194, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
  0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
$card-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px 0px rgba(0, 0, 0, 0.1),
  0 3px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1),
  0 1px 6px 0px rgba(0, 0, 0, 0.1);

$ceil-color: #ca07ca;
$floor-color: #0788ca;

$bubble-shadow: none;
