@import '../../../core/shared/scss/shared';

.container {
  position: relative;

  .history,
  .plan,
  .overview,
  .manage {
    padding: 25px;
    background: #f3f2f3;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  }

  span {
    font-family: 'noticia' !important;
    font-weight: 650;
  }

  .tab-icon {
    width: 30px;
  }

  .add-money {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 15px;
    border-radius: 50%;
    padding: 5px;
    background: rgba(187, 189, 194, 0.685);
    width: 58px;
    height: 58px;
    animation: fadeInUp 0.5s;
  }

  mat-tab-group {
    font-family: 'noticia' !important;
  }
}