<div class="container">

  <h1 class="heading"><i class="icon icon-back" routerLink="/home"></i> Ví tiền</h1>
  <aly-money-preview></aly-money-preview>
  <div>
   <div routerLink="/money/history">Lịch sử</div>
  </div>
  <div>
    <div routerLink="/money/plan">Kế hoạch</div>
  </div>
  <div class="overview">
    <div routerLink="/money/chart">Biểu đồ</div>
  </div>
  <div>
    <div routerLink="/money/manage">Quản lý ví</div>
  </div>
  
  <div class="add-money" alyTouchReact alyRoute [route]="'money/add-money'">
    <img src="assets/icon/add-money.svg">
  </div>
</div>