<div class="all">
  <div class="icon icon-back" routerLink="/menu" > </div>
  <div class="introduction">
    <h1>Đây là một ứng dụng giúp cho mọi người có thể quản lý tất cả hoạt động kinh tế một cách dễ dàng</h1>
  </div>
  <div class="im">
    <img src="assets/img/change.jpg" alt="">
  </div>
  <div class="maining">
    <h1>Tiên phong thay đổi</h1>
    <h3>Nguyễn Thành An cùng những người khác đã xây dựng một ứng dụng giúp cho mọi người trên toàn thế giới có thể dễ dàng quản lý ví tiền của mình.</h3>
    <a style="text-decoration: none" href="#">Tìm hiểu thêm</a>
  </div>
  <div class="developer">
    <div class="container">
      <div class="card">
         <div class="card__image-container">
           <img class="card__image" src="assets/img/family.png" alt="">
        </div>
          
          <svg class="card__svg" viewBox="0 0 800 500">
    
            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>
        
         <div class="card__content">
           <h6 class="card__title">Thông tin nhà phát triển</h6>
           <p>Họ và Tên: Nguyễn Thành An</p> 
           <p> Địa chỉ: Thôn Đoài, xã Kim Nỗ, Đông Anh, Hà Nội </p>
           <p>Liên Hệ: 0363365208</p> 
           <p>Donate: BIDV: 21410003333961</p> 
           <a style="text-decoration: none" href="#">Hiểu hơn về Nguyễn Thành An</a>
        </div>
      </div>
    </div>
  </div>
  <div class="commit">
    <div class="container">
      <div class="card">
         <div class="card__image-container">
           <img class="card__image" src="assets/img/camket.jpg" alt="">
        </div>
          
          <svg class="card__svg" viewBox="0 0 800 500">
    
            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>
        
         <div class="card__content">
           <h6 class="card__title">Cam kết của chúng tôi</h6>
         <p>Chúng tôi luôn nỗ lực cải thiện cuộc sống cho mọi người. Chúng tôi cam kết sẽ hoàn thiện ứng dụng để đem lại cho người dùng trải nghiệm tốt nhất.</p>
         <a style="text-decoration: none" href="#">Đóng góp của chúng tôi</a>
        </div>
      </div>
    </div>
  </div>
  <div class="story">
    <div class="container">
      <div class="card">
        <div class="card__image-container">
         <img class="card__image" src="assets/img/trachnhiem.jpg" alt="">
        </div>
        <svg class="card__svg" viewBox="0 0 800 500">
          <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
          <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
        </svg>
       <div class="card__content">
         <h6 class="card__title">Câu chuyện của chúng tôi</h6>
         <p>Điều tuyệt vời nhất khi sáng tạo công nghệ là có thể giúp ích cho mọi người. Vì vậy chúng tôi đã thiết kế ra chiếc ví điện từ này để mọi người có thể quản lý tiền bạc một cách dễ dàng.</p>
         <a style="text-decoration: none" href="#">Khám phá câu chuyện của chúng tôi</a>
        </div>
      </div>
    </div>
  </div>
  <div class="foot">
    <div class="icons">
      <a href="https://www.facebook.com/" target="_blank"><img src="assets/img/facebook.png" alt="logo Tigobiz" /></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram.png" alt="logo Tigobiz" /></a>
      <a href="https://twitter.com/" target="_blank"><img src="assets/img/tweeter.png" alt="logo Tigobiz" /></a>
    </div>
    <div class="thongtin">
      <select name="" id="">
        <option value="1">Xem thêm thông tin về chúng tôi</option>
        <option value="2"></option>
        <option value="3">Ngọc</option>
      </select>
    </div>
    <div class="chinhsach">
      <select name="" id="">
        <option value="1">Chính sách </option>
        <option value="2">Bảo mật ứng dụng</option>
        <option value="3">Nguyễn tắc về phần mềm</option>
        <option value="4">Nguyên tắc cộng đồng </option>
      </select>
    </div>
    <div class="trachnhiem">
      <select name="" id="">
        <option value="1">Trách nhiệm</option>
        <option value="2">Tính bền vững </option>
        <option value="3">Hỗ trợ tiếp nhận</option>
        <option value="3">Tính minh bạch</option>
        <option value="3">Trung tâm an toàn</option>
      </select>
    </div>
  </div>
  <div class="ending">
    <div class="name">ALY LIFE</div>
    <div class="finish"><a style="text-decoration: none" href="">Trợ giúp</a><a style="text-decoration: none" href="">Bảo mật</a><a style="text-decoration: none" href="">Điều khoản</a></div>
  </div>
</div>