<div class="container">
  <h1 class="heading"><i class="icon icon-back" routerLink="/setting"></i> Mật khẩu</h1>
  <div class="pass-container">
    <form #pass="ngForm" (submit)="onSubmit(pass)">
      <div class="password" *ngIf="user?.password">
        <p>Mật khẩu cũ</p>
        <input type="password" name="oldPassword" class="aly-input" ngModel>
      </div>
      <div class="password">
        <p>Mật khẩu mới</p>
        <input type="password" name="password" class="aly-input" ngModel required>
      </div>
      <div class="password">
        <p>Xác nhận mật khẩu</p>
        <input type="password" name="confirmPassword" class="aly-input" ngModel required>
        <div class="btn-container"><button alyTouchReact class="aly-btn">Đồng ý</button></div>
        <p *ngIf="isErr" class="err">Bạn hãy nhập đúng mật khẩu nhé!</p>
      </div>
    </form>
  </div>
</div>