<div class="container">
  <h1 class="heading">
    <i class="icon icon-back" routerLink="/money"></i> Chứng khoán
  </h1>
  <div class="stock-manage">
    <div class="stock-overview">
      <div><img src="assets/icon/stock.svg" alt="" /></div>
      <div>
        <p class="total">{{ totalValue | number }}</p>
      </div>
      <div class="add-button">
        <button alyTouchReact (click)="showForm()">
          <img src="assets/icon/plus.svg" />
        </button>
      </div>
    </div>
    <div class="stock-express">
      <div class="stock-info" *ngFor="let stock of stockList">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="stock-detail">
                <p>{{ stock.code }}</p>
              </div>
            </mat-panel-title>
            <p class="value">{{ stock.value | number }}</p>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="detail">
            <div class="info"></div>
            <p>
              Giá:
              <span class="detail-value">{{ stock.startPrice | number }} </span>
            </p>
            <p>
              Khối lượng:
              <span class="detail-value">{{ stock.volume | number }}</span>
            </p>
          </div>
          <mat-action-row>
            <button
              class="aly-btn"
              (click)="sellStock(stock.code)"
              alyTouchReact
            >
              Bán
            </button>
            <button
              class="aly-btn"
              alyTouchReact
              (click)="
                changeStock({
                  code: stock.code,
                  startPrice: stock.startPrice,
                  volume: stock.volume
                })
              "
            >
              Sửa
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
