<div class="container">
  <h1 class="heading"><i class="icon icon-back" routerLink="/money"></i> Chứng khoán</h1>
  <div class="stock-manage">
    <div class="stock-overview">
      <div><img src="assets/icon/stock.svg" alt=""></div>
      <div>
        <p class="total">{{b}}</p>
      </div>
      <div class="add-button"><button alyTouchReact (click)="showForm()"><img src="assets/icon/plus.svg"></button></div>
    </div>
    <div class="stock-express">
      <div class="form__group field">
        <input [(ngModel)]="a" type="number" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Number</label><button (click)="show()">thêm</button>
      </div>
      <div class="stock-info" *ngFor="let stock of stockList">
        <div class="card">
          <tr class="set">
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
          </tr>
          <tr>
            <td>
              <div>
                <p>{{stock.code}}</p>
              </div>
            </td>
            <td>
              <div class="stock-start-price">
                <p>{{stock.startPrice}}</p>
              </div>
            </td>
            <td>
              <div class="stock-start-quantity">
                <p>{{stock.volume}}</p>
              </div>
            </td>
            <td>
              <div class="stock-start-price">
                <p>{{stock.value |number}}</p>
              </div>
            </td>
          </tr>




        </div>
      </div>