<div class="container">
  <div class="header fadeInDown">
    <h1 class="heading">
      <i class="icon icon-back" (click)="unpress()" routerLink="/home"></i> Ghi
      chú
    </h1>
    <div class="function-btn">
      <div class="create-note">
        <div alyDialog [data]="tags" alyTouchReact>
          <p>{{tagSelect}}</p>
        </div>
      </div>
      <div class="pick-date">
        <div (click)="picker.open()" alyTouchReact>
          <p>{{dateSelect}}</p>
          <input [matDatepicker]="picker" (dateInput)="pickDate($event)" />
          <mat-datepicker touchUi #picker></mat-datepicker>
        </div>
      </div>
      <div class="total" alyTouchReact>
        <div (click)="showAll()">
          <p>Tất cả</p>
        </div>
      </div>
    </div>
  </div>

  <div class="all-note" *ngIf="notes?.length>0 else noInfo">
    <div class="note" *ngFor="let note of notes">
      <aly-note-detail [note]="note"></aly-note-detail>
    </div>
  </div>
  <div
    class="add-note"
    routerLink="/note/add"
    alyTouchReact
    (click)="unpress()"
  >
    <img src="assets/icon/note.svg" />
  </div>
  <div class="cancel btn-container">
    <button alyTouchReact class="aly-btn hide" (click)="unpress()" #cancel>
      Trở lại
    </button>
  </div>
</div>

<ng-template #noInfo>
  <p class="no-info">Không có ghi chú nào</p>
  <p class="no-info">Vui lòng chọn nhóm để xem ghi chú</p>
</ng-template>
