@import '../../../core/shared/scss/shared';
$bg-container: #f3f5fa;
$bg-btn: rgb(236 231 151 / 91%);

input {
  width: 1px;
  position: relative;
  top: 30px;
  right: 20px;
  visibility: hidden;
}

.header {
  border-radius: $border-radius;
  background: $main-color;
  padding: 10px;
  margin-bottom: 15px;

  h1 {
    margin-top: 2px;
  }

  .function-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    div {
      display: flex;
      justify-content: center;

      div {
        color: rgb(22, 20, 20);
        border-radius: 20px;
        padding: 10px;
        background: $bg-btn;
        min-height: 80px;
        width: 90px;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
}

.cancel {
  position: fixed;
  bottom: 10px;
  opacity: 0.9;
  animation: smoothShow 0.5s;
}

.add-note {
  position: absolute;
  bottom: 20px;
  right: 15px;
  border-radius: 50%;
  padding: 5px;
  background: rgba(187, 189, 194, 0.685);
  width: 58px;
  height: 58px;
}

.no-info {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
